<html lang="en">
<head>
    <script>
        jQuery.ajax({
            type:"GET",
            url:"/getAccmulate",
             data: {'date':'2020-06-02', 'mode':'weeks'},
             success: function(result){

             },
             error: function(error) {
                console.log("error", error);
             }
        }).done(function(result){
            console.log(result);
            renderGraph("누적확진자 그래프", result)
        });

        function renderGraph(mode, data){
            var date = new Array();
            var count = new Array();
            var ctx = document.getElementById('myChart').getContext('2d');

            // 서버로 부터 받은 데이터의 객체형 배열을 반복문으로 떼내서, 배열에 저장.
            data.forEach((item, i) => {
                date.push("" + (new Date(item.date).getMonth()+1) + " / " + (new Date(item.date).getDate()));
                count.push(item.confirm);
            });

            console.log("count : " , count);
            console.log("data : " , data)

            // 위에서 처리한 데이터를 기준으로 그래프 그리기
            new Chart(ctx, {
                type: 'bar',
                data: {
                labels: [
                    date[6],date[5],date[4],date[3],date[2],date[1],date[0]
                ],
                datasets: [{
                    label: mode,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [count[6],count[5],count[4],count[3],count[2],count[1],count[0]]
                }]
                },
                // Configuration options go here
                options: {
                    legend: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        barPercentage: 0.4
                    }
                    ]
                }
                }
            });
        }

        function search(mode){
            if(mode == "days"){
                mode = "일일 확진자 그래프";
                url = "/getDays";
            }
            else if(mode == "accumulate") {
                mode = "누적 확진자 그래프";
                url = "/getAccmulate";
            }
            jQuery.ajax({
                type: "GET",
                dataType: "json",
                url: url,
                data: {'date':'2020-06-02', 'mode':'weeks'},
                success: function(result){
                },
                error: function(error){
                console.log("error : " , error);
                }
            }).done(function(result){
                console.log("result : " ,result);
                renderGraph(mode, result);
            });
        }
    </script>
</head>
<body>
    <div class ="chartWrap">
        <div class="btn-group" id="selectWrap" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success" onclick="search('days')">일일 확진자 수</button>
            <button type="button" class="btn btn-info" onclick="search('accumulate')">누적 확진자 수</button>
        </div>
        <div id="chartWrap">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</body>
</html>