<head>
  <script>

function getFormatDate(date){
      var year = date.getFullYear();              //yyyy
      var month = (1 + date.getMonth());          //M
      month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
      var day = date.getDate();                   //d
      day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
      return  year + '년 ' + month + '월 ' + day + '일';       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
    }

      jQuery.ajax({
       type: "GET",
       url: "/getRecent",
       data: {},
       success: function(result){
       },
       error: function(error){
         console.log("error : " , error);
       }
     }).done(function(result){
       console.log("result : " ,result);

       $("#txt_titleDate").html("&nbsp&nbsp(" + getFormatDate(new Date(result[0].date)) + " 기준)");

     });

      var ctx = document.getElementById('checkChart').getContext('2d');
      var ctx3 = document.getElementById('confirmChart').getContext('2d');
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['확진','검사중'],
          datasets: [{
            backgroundColor: ['#0b2284','#d3d3d3'],
            data: [10, 20],
            borderColor:"#f2f2f2"
          }]
        },
        // Configuration options go here
        options: {
          legend: {
            display: true,
          }
        }
      });

      new Chart(ctx3, {
        type: 'pie',
        data: {
          labels: ['확진', '검사중'],
          datasets: [{
            backgroundColor:['#0b2284', '#d3d3d3'],
            data:[10,20],
            borderColor:'#f2f2f2'
          }]
        },
        options: {
          legend:{
            display: false,
          }
        }
      });

      $(".mapWrap").load("/page/Republic_korea_2020")

  </script>
</head>
<div id="dataWrap">

  <!-- 환자 현황 -->
  <div id="header">
      <h5 class="header_title">환자현황
        <h2>&nbsp&nbsp(2020년 6월 12일 기준)
      </h5>

      <div class="headerTitleWrap">
        <div class="confirmCountWrap">
          <a>확진환자 (n)</a>
        </div>

        <div class="confirmCountWrap">
          <a>검사중 (n)</a>
        </div>
      </div>

      <div class="headerContentsWrap">

        <div style="width:90%; height:100%; position:absolute; left:5%;">
          <div class="contentWrap">
            <a class="contentTitle">확진환자</a>
            <a class="contentConfirm">0명</a>
            <a class="contentCompare">(+25)</a>
          </div>

          <div class="contentWrap">
            <a class="contentTitle">검사중</a>
            <a class="contentConfirm">0명</a>
            <a class="contentCompare">(+25)</a>
          </div>

          <div class="contentWrap">
            <a class="contentTitle">사망자</a>
            <a class="contentConfirm">0명</a>
            <a class="contentCompare">(+25)</a>
          </div>
        </div>

      </div>
  </div>

  <!-- 검사 현황 -->
  <div id="data">
    <div class="dataContentWrap">
      <a>검사현황</a>
      <div class="dataContentSubWrap">

        <table class="dataContentTable">
          <tr>
            <td style="color:#0b2284; font-weight:bold;">누적 검사수</td>
            <td style="color:#000000;">0명</td>
          </tr>
          <tr>
            <td style="color:#0b2284; font-weight:bold;">누적 확진자</td>
            <td style="color:#000000;">0명</td>
          </tr>
          <tr>
            <td style="color:#0b2284; font-weight:bold;">누적 사망자</td>
            <td style="color:#000000;">0명</td>
          </tr>
        </table>

      </div>
    </div>
    <div class="dataContentWrap">
      <div id="chartWrap">
        <canvas id="checkChart"></canvas>
      </div>

      <div class="chartDataWrap">
        <div class="dataWrap">
          <div class="barData" style="background:#0b2284">
            <p style="color:#ffffff">확진</p>
          </div>
          <a>(0명)</a>
        </div>

        <div class="dataWrap">
          <div class="barData" style="background:#d3d3d3">
            <p style="color:#3d3d3d">검사중</p>
          </div>
          <a >(0명)</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 시도별 확진자 현황 -->
  <div id="map">
    <div class="titleWrap">
      <p>시도별 확진자 현황</p>
    </div>
    <div class="mapWrap"></div>

    <div class="infoWrap">
      <div class="titleWrap">
        <a class="info_title01">전국</a> <a class="info_title02">지역발생비율</a>
      </div>

      <div class="chartWrap">
        <canvas id="confirmChart">a/canvas>
      </div>

      <table class="infoTable">
        <tr>
          <td class="title"><a>누적 확진환자</a></td>
          <td class="value"><a>0명</a></td>
        </tr>
        <tr>
          <td class="title" style="color:#10b4e9"><a>전면대비 증감</a></td>
          <td class="value" style="color:#10b4e9"><a>0명</a></td>
        </tr>

        <tr>
          <td class="title"><a>격리중</a></td>
          <td class="value"><a>0명</a></td>
        </tr>

        <tr>
          <td class="title"><a>누적 격리해제</a></td>
          <td class="value"><a>0명</a></td>
        </tr>

        <tr>
          <td class="title"><a>누적 사망자</a></td>
          <td class="value"><a>0명</a></td>
        </tr>
      </table>

      <table class="linkTable">
        <tr style="background:#006666;">
          <td><a>공적마스크 일일 공급현황</a></td>
        </tr>
        <tr style="background:#00689b;">
          <td><a>선별진료소 및 국민안심병원 찾기</a></td>
        </tr>
        <tr style="background:#3889cb">
          <td><a>대상별 피해자원 정책</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
