<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>One Click COVID-19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen and (min-width: 769px)" href="css/chart.css" /> <!-- 데스크탑 -->
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/chart.mobile.css" /> <!-- Phone-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/data.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/statement.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
      sessionStorage.clear();
      function onPage(value){
        $(".wrap").load('/page/' + value);
        $(".datepickers-container").hide();     // 선택하고 숨김
      }
    </script>
</head>
<body>
  <div id="header">
      <div class="logo">
          <span>5조</span>
      </div>
      <div class="menu" class="clearfix">
          <ul>
              <li onclick="onPage('data')"><a>Data</a></li>
              <li onclick="onPage('chart')"><a>Chart</a></li>
              <li onclick="onPage('statement')"><a>Statement</a></li>
              <li onclick="onPage('notice')"><a>Notice</a></li>
          </ul>
      </div>
  </div>
   <div class="wrap">
   </div>
</body>
</html>
