<head>
  <script>
    function loadPage(id){
      // 서버에 id를 보낸다.
      console.log("@!!");
      $(".wrap").load('/page/statement_comment', function(data){
        console.log("data : " , data);
      })
    }
  </script>
</head>

<div class="statementWrap">
  <div class="header">
    <p>코로나19팩트 & 이슈체크</p>
  </div>

  <table class="cdcNoticeTable">
    <tr class="title">
      <th class="tb_number">번호</th>
      <th class="tb_title">제목</th>
      <th class="tb_date">작성일자</th>
    </tr>
    <tr class="list" onclick="loadPage(7)">
      <td class="tb_number"><a>6</a></td>
      <td class="tb_title"><a> 등교수업 전환 현장지원을 위한 방역 세부지침 개정판 및 교수학습평가 가이드라인 마련</a></td>
      <td class="tb_date"><a>2020-05-07</a></td>
    </tr>
    <tr class="list" onclick="loadPage(7)">
      <td class="tb_number"><a>5</a></td>
      <td class="tb_title"><a>정부, 3번째「코로나19 대응 영문 정책자료*」 발간 - 코로나19 이후 범정부 회복 대응 정책 소개</a></td>
      <td class="tb_date"><a>2020-05-06</a></td>
    </tr>
    <tr class="list" onclick="loadPage(7)">
      <td class="tb_number"><a>4</a></td>
      <td class="tb_title"><a>긴급재난지원금 안내문자, URL 누르지 마세요</a></td>
      <td class="tb_date"><a>2020-05-04</a></td>
    </tr>
    <tr class="list" onclick="loadPage(7)">
      <td class="tb_number"><a>3</a></td>
      <td class="tb_title"><a>긴급재난지원금 지급 개시</a></td>
      <td class="tb_date"><a>2020-05-04</a></td>
    </tr>
    <tr class="list" onclick="loadPage(7)">
      <td class="tb_number"><a>2</a></td>
      <td class="tb_title"><a>‘긴급재난지원금’ 신청 및 지급 방안</a></td>
      <td class="tb_date"><a>2020-05-04</a></td>
    </tr>
    <tr class="list" onclick="loadPage(7)">
      <td class="tb_number"><a>1</a></td>
      <td class="tb_title"><a>2020년도 제2회 추가경정예산 국회 확정</a></td>
      <td class="tb_date"><a>2020-05-04</a></td>
    </tr>
  </table>
</div>