#dataWrap {
  position: absolute;
  left:20%;
  height:100%;
  width:60%;
  margin-top: 50px;
}
#dataWrap > #header > h5{
  font-size: 20px;
  font-weight: bold;

}
#dataWrap > #header > h2{
  font-size: 10px;
}
#dataWrap > #header > .headerTitleWrap{
  width:100%;
  height: 40px;
  position: absolute;
  left: 0;
}

#dataWrap > #header > .headerTitleWrap > .confirmCountWrap{
  width:50%;
  height: 40px;
  float:left;
  position: relative;
}


#dataWrap > #header > .headerTitleWrap > .confirmCountWrap > a{
  position: absolute;
  width:95%;
  height: 40px;
  left:2.5%;
  color:#ffffff;
  background:#0b2284;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

#dataWrap > #header > .headerContentsWrap{
    width:97%;
    height: 180px;
    position: absolute;
    left: 1.5%;
    top:97px;
    background: #f2f2f2;
}

#data{
  width:100%;
  height:200px;
  position: absolute;
  top:330px;
}

#data > .dataContentWrap{
  width:50%;
  height: 200px;
  float:left;
  position: relative;
}

#data > .dataContentWrap > a{
  position: absolute;
  width:95%;
  height: 40px;
  left:2.5%;
  color:#ffffff;
  background:#0b2284;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

#data > .dataContentWrap > .dataContentSubWrap{
    position: absolute;
    width:95%;
    height: 155px;
    left:2.5%;
    top:45px;
    color:#ffffff;
    background: #f2f2f2;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

#data > .dataContentWrap > #chartWrap{
    position: absolute;
    width:60%;
    height: 100%;
    left:2.5%;
    color:#ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;

}

#data > .dataContentWrap > #chartWrap > canvas{
  width: 100%;
  height: 100%;
}

#data > .dataContentWrap > .chartDataWrap{
  width:40%;
  left:60%;
  height:100%;
  position: absolute;
}

#data > .dataContentWrap > .chartDataWrap > .dataWrap{
  width:100%;
  height:20px;
  background: #ffffff;
  margin:20px 0px 20px 0px;
  line-height: 30px;
  font-size:8px;
}
#data > .dataContentWrap > .chartDataWrap > .dataWrap > .barData{
  width:70px;
  height:30px;
  background: #0b2284;
  float:left;
  border-radius: 5px;
  margin-right:10px;
}

#data > .dataContentWrap > .chartDataWrap > .dataWrap > .barData > p{
  width:50px;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

#map {
    width:100%;
    height:1000px;
    position: absolute;
    top:600px;
}

#map > .titleWrap{
    width:97%;
    height: 40px;
    left:1.5%;
    position: absolute;
    background: #0b2284;
    border-radius: 5px;
}

#map > .titleWrap > p{
  text-align: center;

  line-height: 40px;
  color: #ffffff;
}
