/* reset */

* {
    margin: auto ;
    padding: auto 0;
}

* {
    list-style: none;
}

.clearfix ::before, ::after {
    display: block;
    content: '';
    clear: both;
}


/* wrap */

/* header */
#header {
    height: 100px;
    width: 100%;
    /* width: 1500px; */
}

/* logo */

#header > div.logo {
    float: left;
    height: 100px;
    width: 300px;
    padding-top: 40px;
}

/* menu */
/* nav */
#header > div.menu {
    float: right;
}

/* div */
.menu > ul > li {
    float: left;
    text-align: center;
    width: 150px;
    padding-top: 50px;
    font-size: 20px;
    cursor:pointer;
}

.menu > ul >li a {
    display: block;
}
/* div */
.menu > ul > li a:hover {              
    background: rgba(11,34,132,100);
    color: #ffffff;
    border-radius: 10px;
}

#Text-color{
    color: #ffffff;
}

.wrap{
  width:100%;
  height: auto;
}