.noticeWrap {
  height:100%;	  position: relative;
  width:100%;	  width:90%;
  background:#c2c2c2;	  height: 100%;
}

.sideMenu{
  position: absolute;
  left:0;
  top:50px;
  height:300px;
  width:200px;
  font-family: 'ON-IGothic',AppleGothic,sans-serif;
}

.sideMenu > ul > li:first-child{
  height:50px;
  text-align: center;
  border-bottom: #606060 solid 3px;
}

.sideMenu > ul > li:first-child > a{
  font-size: 20px;
}

.sideMenu > ul > li{
  height:50px;
  text-align: center;
  border-bottom: #c2c2c2 solid 1px;
  cursor: pointer;
}

.sideMenu > ul > li > a{
  height:50px;
  line-height: 50px;
}

.noticeContents{
  position: absolute;
  left:200px;
  top:30px;
  height:300px;
  width:-webkit-calc(100% - 200px);
}

.noticeContents > .header{
  position: absolute;
  top:30px;
  left:5%;
  width:90%;
  height:70px;
  border-bottom: #c2c2c2 solid 1px;
}

.noticeContents > .header > img{
  float:left;
}

.noticeContents > .header > p{
  position: absolute;
  left:250px;
  float:left;
  height:70px;
  line-height: 70px;
  font-size: 30px;
  font-family: 'ON-IGothic',AppleGothic,sans-serif;
}

.noticeContents > .cdcNoticeTable {
    font-family: 'ON-IGothic',AppleGothic,sans-serif;
    position: absolute;
    top:160px;
    width:80%;
    left:10%;
    text-align: center;
    border-top: #000000 solid 2px;
}
.noticeContents > .cdcNoticeTable > tbody > tr{
  cursor: pointer;
}
.noticeContents > .cdcNoticeTable > tbody > tr.title{
  height:53px;
  border-bottom: #a0a0a0 solid 1.5px;
}

.noticeContents > .cdcNoticeTable > tbody > tr.list{
  height:50px;
  border-bottom: #c3c3c3 solid 1.5px;
}

.noticeContents > .cdcNoticeTable > tbody > tr > .tb_number{
  width:10%;
}

.noticeContents > .cdcNoticeTable > tbody > tr > .tb_title{
  width:50%;
}
.noticeContents > .cdcNoticeTable > tbody > tr > td.tb_title{
text-align: left;
}

.noticeContents > .cdcNoticeTable > tbody > tr > .tb_writer{
  width:20%;
}

.noticeContents > .cdcNoticeTable > tbody > tr > .tb_date{
  width:20%;
}

.noticeContents > .cdcNoticeTable > tbody > tr > td > a{
    font-family: 'ON-IGothic';
}
  